# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Project specifics
data/raw/*
data/processed/*
!data/processed/esco_relevant_skills.parquet
!data/processed/esco_relevant_skill_aliases.parquet
!data/processed/canonical_application_skills.parquet
!data/processed/esco_occupations.parquet
!data/processed/esco_skills.parquet
!data/processed/esco_skill_aliases.parquet
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.db
*.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
